.board-container {
    position:fixed;
    bottom:0;
    z-index: 10000
}
.board {
    background-color: rgb(29, 30, 34);
    box-shadow: 0 4px 30px rgba(0,0,0,.5);
    resize: none;
    border-radius: 6px;
    width: 300px;
    height: 140px;
    padding: 12px;
    color: white;
    font-weight: 600;
}
