@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

:root {
    --gray-0: #D8D8D8;
    --black-0: rgb(29, 30, 34);
}

.clipboard-container {
    width: 100%;
    overflow-x: auto;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    position: fixed;
    bottom: 0;
    z-index: 10000;
    transition: 0.5s;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}

.clipboard-container.hide {
    transform: translateY(100%);
}

.clipboard {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--black-0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
    resize: none;
    border-radius: 6px;
    width: 300px;
    height: 140px;
    padding: 12px;
    color: white;
    font-weight: 600;
    outline: none;
    line-height: 20px;
}

.clipboard::-webkit-scrollbar {
    width: 10px;
}

.clipboard::-webkit-scrollbar-thumb {
    background-color: var(--gray-0);
    border-radius: 4px;
    opacity: 0.3;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--black-0);
    font-size: 12px;
    padding: 20px;
    cursor: pointer;
+
}
